{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- comment -%}
      Custom layout: first option full-width on top, next two options side-by-side below.
    {%- endcomment -%}

    {%- assign opts = product.options_with_values -%}

    {%- if opts.size > 0 -%}
      {%- assign option = opts[0] -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}

      <div class="product-options custom-layout">
        <div class="option option-top">
          <label class="form__label">{{ option.name | upcase }}</label>
          {%- if picker_type == 'swatch' -%}
            {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
          {%- elsif picker_type == 'button' -%}
            {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
          {%- else -%}
            <div class="select">
              {%- if picker_type == 'swatch_dropdown' -%}
                <span data-selected-value class="dropdown-swatch">
                  {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
                </span>
              {%- endif -%}
              <select id="Option-{{ section.id }}-0" class="select__select" name="options[{{ option.name | escape }}]" form="{{ product_form_id }}">
                {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
              </select>
              <span class="svg-wrapper">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
            </div>
          {%- endif -%}
        </div>

        <div class="option-row">
          {%- if opts.size > 1 -%}
            {%- assign option = opts[1] -%}
            {%- liquid
              assign swatch_count = option.values | map: 'swatch' | compact | size
              assign picker_type = block.settings.picker_type
              if swatch_count > 0 and block.settings.swatch_shape != 'none'
                if block.settings.picker_type == 'dropdown'
                  assign picker_type = 'swatch_dropdown'
                else
                  assign picker_type = 'swatch'
                endif
              endif
            -%}
            <div class="option option-half">
              <label class="form__label">{{ option.name | upcase }}</label>
              {%- if picker_type == 'swatch' or picker_type == 'button' -%}
                {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
              {%- else -%}
                <div class="select">
                  {%- if picker_type == 'swatch_dropdown' -%}
                    <span data-selected-value class="dropdown-swatch">
                      {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
                    </span>
                  {%- endif -%}
                  <select id="Option-{{ section.id }}-1" class="select__select" name="options[{{ option.name | escape }}]" form="{{ product_form_id }}">
                    {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
                  </select>
                  <span class="svg-wrapper">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- if opts.size > 2 -%}
            {%- assign option = opts[2] -%}
            {%- liquid
              assign swatch_count = option.values | map: 'swatch' | compact | size
              assign picker_type = block.settings.picker_type
              if swatch_count > 0 and block.settings.swatch_shape != 'none'
                if block.settings.picker_type == 'dropdown'
                  assign picker_type = 'swatch_dropdown'
                else
                  assign picker_type = 'swatch'
                endif
              endif
            -%}
            <div class="option option-half">
              <label class="form__label">{{ option.name | upcase }}</label>
              {%- if picker_type == 'swatch' or picker_type == 'button' -%}
                {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
              {%- else -%}
                <div class="select">
                  {%- if picker_type == 'swatch_dropdown' -%}
                    <span data-selected-value class="dropdown-swatch">
                      {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
                    </span>
                  {%- endif -%}
                  <select id="Option-{{ section.id }}-2" class="select__select" name="options[{{ option.name | escape }}]" form="{{ product_form_id }}">
                    {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
                  </select>
                  <span class="svg-wrapper">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>

      </div>
    {%- endif -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
